body {
    font-family: "Noto Sans Mono", "Roboto Mono", "Liberation Mono", "Cascadia Mono", "Consolas", monospace; 
    font-size: small;
    background-color: #f3f3f3;
}
div.top {
    font-family: "Noto Sans", "Roboto", "Liberation Sans", sans-serif; 
    font-size: large;
    padding: 12px;
    margin-bottom: 10px;
    background-color: white;
}
span.version {
    font-size: x-small;
}
pre.metadata {
    font-family: "Noto Sans Mono", "Roboto Mono", "Liberation Mono", "Cascadia Mono", "Consolas", monospace; 
    font-size: x-small;
    display: none;
}
span.proj {
    color:  #6d57db;
}
span.label {
    font-family: "Noto Sans", "Roboto", "Liberation Sans", sans-serif; 
}
span.img_fname {
    font-family: "Noto Sans", "Roboto", "Liberation Sans", sans-serif; 
    font-size: 55%;
    color: #a3a3a3 ; 
}
div.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
div.item {
    background-color: #cfdeec;
    padding: 12px 12px 4px 12px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 0 #38383f7a,
                -1px -1px 1px 0 #e2e2e2;
}
img {
    width: 240px;
    border: 2px solid black;
    margin-top: 2px;
}