body {
    font-family: "Noto Sans", "Roboto", "Liberation Sans", sans-serif; 
    font-size: small;
    color: black;
    background-color: #f3f3f3;
}
div.top {
    font-size: large;
    padding: 12px;
    margin-bottom: 10px;
    background-color: white;
}
span.video-id {
    font-family: "Noto Sans Mono", "Roboto Mono", "Liberation Mono", "Cascadia Mono", "Consolas", monospace; 
    color:  #6d57db;
}
span.batch-info {
    font-size: small;
    color: #5e5d5e ; 
}
div.version {
    font-size: x-small;
    padding: 12px;
}
span.identifier {
    font-family: "Noto Sans Mono", "Roboto Mono", "Liberation Mono", "Cascadia Mono", "Consolas", monospace; 
}
pre.metadata {
    font-family: "Noto Sans Mono", "Roboto Mono", "Liberation Mono", "Cascadia Mono", "Consolas", monospace; 
    font-size: x-small;
    display: none;
}
span.label {
    font-family: "Noto Sans", "Roboto", "Liberation Sans", sans-serif; 
}
span.img-fname {
    font-family: "Noto Sans", "Roboto", "Liberation Sans", sans-serif; 
    font-size: 55%;
    color: #858585 ; 
}
div.button-container {
    margin-top: 5px;
    margin-bottom: 5px;
}
div.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
div.item {
    font-family: "Noto Sans Mono", "Roboto Mono", "Liberation Mono", "Cascadia Mono", "Consolas", monospace; 
    background-color: #bababa;
    padding: 12px 12px 4px 12px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 0 #858585,
                -1px -1px 1px 0 #e2e2e2;
}
div.subsample {
    background-color: #bcd1e3;
    color: #1d64a1;
    box-shadow: 4px 4px 2px 0px #d3e2f0,
               -2px -2px 1px 0px #e2e2e2;

}
div.unsample {
    background-color: #d9d7db;
    color: #a3a3a3;
    box-shadow: 2px 2px 2px 0 #e2e2e2,
                -1px -1px 1px 0 #e2e2e2;

}
div.unsample span.img-fname {
    color: #a3a3a3;
}
button {
    font-size: small;    
}
img {
    width: 240px;
    border: 2px solid black;
    margin-top: 2px;
}
a {
    color: inherit;
}
.hidden {
    display: none;
}