span.video-id {
    font-family: "Noto Sans Mono", "Roboto Mono", "Liberation Mono", "Cascadia Mono", "Consolas", monospace; 
    color:  #2e8812;
}
div.item {
    min-height: 222px;
    min-width: 244px;
}
span.item-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
div.itemrow {
    flex-wrap: wrap;
    gap: 2px;
}
div.cataid-extra {
    flex-wrap: wrap;
    gap: 2px;
}
div.unsample {
    color: #818181;    
}
div.item-aid {
    color: black;
    width: 350px;
}
div.item-editor {
    color: black;
    width: 350px; 
    display: none;
}
div.engaged {
    display: block;
}
pre {
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.aid-text {
    background-color: #ecebec;
    font-size: 0.9rem;
    padding: 4px;
    height: 176px;
    margin-top: 2px;
    border: 1px solid #bababa;   
}
.editor-text {
    background-color: #f7f3d4;
    color: black;
    font-size: 0.9rem;
    padding: 4px;
    height: 176px;
    margin-top: 2px;
    border: 1px solid #bababa;   
}
.shown {
    display: flex;
}
.invisible {
    visibility: hidden;
}
.fullrow {
    flex-basis: 100%;
}
.clickable:hover {
    cursor: pointer;
}